    $red: #f44336;
    $gray: #999;
    @mixin text1-overflow {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    
    @mixin red-fontstyle {
        color: #f44336;
        font-size: 20px;
    }